*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 70px;
    color: #301717;
    padding-bottom: 0;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #000000;
}

h4{
    font-size: 30px;
    color: #41b318;
}

h6{
    font-size: 12px;
    font-weight: 700;
    color: #222;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 60px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

.logo{
    width: 125px;
    height: 75px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgb(202, 241, 235);
    box-shadow: 0 4px 8px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    padding: 0 16px;
    list-style: none;
    position:relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: rgb(102, 102, 240);
}

#navbar li a.active::after, 
#navbar li a:hover:after{
    content: "";
    width: 55%;
    height: 2px;
    background: rgb(102, 102, 240);
    position: absolute;
    bottom: -4px;
    left: 20px
}

#main{
    background-image: url("./images/main_image.avif");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 10% bottom 20%;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#main h4{
    padding-bottom: 12px;
}

#main h1{
    color: #0037ff;
}

#main button{
    background-image: url("./images/button_image.jpg");
    /* background-color: transparent; */
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(4, 222, 0);
    border: 0;
    padding: 14px 40px 14px 40px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.fe-box img{
    width: 70px;
    height: 70px;
}